@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul>
    @foreach (var item in ViewBag.data)
    {
        <li>@item</li>
    }
</ul>

<p>++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
<span>ViewData</span>

<ul>
    @foreach (var item in ViewData["Chetu"] as List<String>)
    {
        <li>@item</li>
    }
</ul>

<p>++++++++++++++++++++++++++++++++++++++++++++++++++++</p>

<span>TempData</span>

<br />
<ul>
    @foreach (var item in TempData["City"] as List<String>)
    {
        <li>@item</li>
    }
</ul>